extends layout
block content
  h1 NFL Cards
  div.qb
    div.top
      h3 Josh Allen
      h3 HP 85
      div.type
        img(src=`/images/quarterback.png`)
    img(src=`/images/JoshAllen.png`)
    div.attacks
      div.first
        div.type
          img(src=`/images/quarterback.png`)
        h3 Quarterback Rush
        h3 40
      div.second
        div.type
          img(src=`/images/quarterback.png`)
          img(src=`/images/quarterback.png`)
        h3 Hail Mary
        h3 60
    div.weakness
      h4 Weakness
      img(src=`/images/DLinemen.png`)
