doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(src='https://www.jetnation.com/wp-content/uploads/2017/08/nfl-dfs.jpg')
    block content
