body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.type {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.resistance {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
}.weakness {
   width: 50px;
   height: 50px;
   display: flex;
   flex-direction: column;
 }

.section2 {
  display: flex;
  justify-content: space-evenly;
}
.section3 {
  margin: 25px;
}
.border-player {
  border: 5px solid #252323;
  border-radius: 5px;
  height: 300px;
  width: 300px;
}
.position {
  height: 600px;
  width: 400px;
  background-color: #5376e8;
  border: 5px solid #252323;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.attack {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
.abilities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section {
  margin: 5px;
}
.name {
  font-size: 25px;
}
.hp {
  font-size: 25px;
}
.attackOne {
  font-size: 25px;
}
.attackTwo {
  font-size: 25px;
}
.attackOneHP {
  font-size: 25px;
}
.attackTwoHP {
  font-size: 25px;
}
