body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.type {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
}
.player {
  display: flex;
  justify-content: space-evenly;
}
.qb {
  height: 580px;
  width: 400px;
  background-color: #111457;
  border: 5px solid #252323;
  margin: 3px;
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.attack {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.abilities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section {
  margin: 5px;
}
