body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.type {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
}
.resistance {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
}.weakness {
   width: 50px;
   height: 50px;
   display: flex;
   flex-direction: column;
 }

.section2 {
  display: flex;
  justify-content: space-evenly;
}
.section3 {
  margin: 25px;
}
.border-player {
  border: 5px solid #252323;
  border-radius: 5px;
  height: 300px;
  width: 300px;
}
.team {
  height: 630px;
  width: 400px;
  border: 5px solid #252323;
  border-radius: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.attack {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}
.abilities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section {
  margin: 5px;
}
.name {
  font-size: 25px;
}
.hp {
  font-size: 25px;
}
.attackOne {
  font-size: 20px;
}
.attackTwo {
  font-size: 20px;
}
.attackOneHP {
  font-size: 20px;
}
.attackTwoHP {
  font-size: 20px;
}
.attackOneCost {
  display: flex;
  flex-direction: row;
}
.attackTwoCost {
  display: flex;
  flex-direction: row;
}
.container {
  padding: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.edit {
  display: flex;
  justify-content: end;
  position: relative;
  top: 29px;
}
.color {
  color: black;
}
.button {
  display: block;
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-size: 14px;
  line-height: 1.25rem;
}
.button.save {
  background: #155E75;
  color: white;
  border: 1px solid #164E63;
}
.add-button-row{
  display: flex;
  justify-content: flex-start;
}
.main-header{
  background: #242323;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Bills {
  background-color: #00338D;
}
.Dolphins {
  background-color: #008E97;
}
.Patriots {
  background-color: #002244;
}
.Jets {
  background-color: #125740;
}
.Ravens {
  background-color: #241773;
}
.Bengals {
  background-color: #FB4F14;
}
.Browns {
  background-color: #FF3C00;
}
.Steelers {
  background-color: #A5ACAF;
}
.Chiefs {
  background-color: #E31837;
}
.Broncos {
  background-color: #FB4F14;
}
.Raiders {
  background-color: #A5ACAF;
}
.Chargers {
  background-color: #0080C6;
}
.Jaguars {
  background-color: #9F792C;
}
.Colts {
  background-color: #002C5F;
}
.Texans {
  background-color: #03202F;
}
.Titans {
  background-color: #0C2340;
}
.Bears {
  background-color: #C83803;
}
.Lions {
  background-color: #0076B6;
}
.Packers {
  background-color: #203731;
}
.Vikings {
  background-color: #4F2683;
}
.Cowboys {
  background-color: #041E42;
}
.Giants {
  background-color: #0B2265;
}
.Eagles {
  background-color: #004C54;
}
.Commanders {
  background-color: #5A1414;
}
.Falcons {
  background-color: #A71930;
}
.Panthers {
  background-color: #0085CA;
}
.Saints {
  background-color: #D3BC8D;
}
.Buccaneers {
  background-color: #D50A0A;
}
.Cardinals {
  background-color: #97233F;
}
.Rams {
  background-color: #003594;
}
.Niners {
  background-color: #AA0000;
}
.Seahawks {
  background-color: #002244;
}